<div>
    <h1>{{ section.settings.title }}</h1>
</div>

{% for block in section.blocks %}
    {% if block.type == 'product' %}
    {% assign product = all_products[block.settings.product] %}
        <div>
            <h2>{{ product.title }}</h2>
        </div>
    {% endif %}
{% endfor %}

{% schema %}
{
  "name": "Tarefa 1",
  "tag": "section",
  "class": "section-tarefa-1",
  "settings": [
    {
     "type": "header",
     "content": "Teste header"
    },
    {
     "type": "text",
     "id": "title",
     "label": "Título"
    }
  ],
  "blocks": [
    {
      "name": "Produto",
      "type": "product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Produto"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Tarefa 1"
    }
  ]
}
{% endschema %}